@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sansita+Swashed:wght@500&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    color: black;
    font-size: 1.1rem;
    font-weight: 300;
  }
/* ------navbar----- */
#span-navbar{ 
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 40px;
}
.navbar{
    letter-spacing: .05rem;

}
.nav-item{
    margin-left: 10px;
}

/* ------end-navbar----- */